In [1]:
import numpy as np
import pandas as pd


import pyspark

from pyspark.sql import SparkSession
from pyspark.sql.functions import *
from pyspark.sql.types import *



#################################             FUNCTIONNALITY             ########################################


# this programs reads a csv file from the TBF110. A year is required to launch this program

# From the year selected, the program counts the sum ITEMS_TOTAL_AMOUNT for each sender_id and each month

# It creates 0 values for the non existing dates for each sender_id and stores it in a csv for later visualizing


#################################################################################################################



# Choose your year and your month

yearChosen = 2017


# Set up the spark session

spark = SparkSession.builder \
   .master("spark://spark-master:7077") \
   .appName("sumbymonth") \
   .config(conf = pyspark.SparkConf()) \
   .getOrCreate()


# Read the csv File

df1 = spark.read.format('com.databricks.spark.csv').options(header='true', inferschema='true').load('../sparkJup/romain.csv')




dftest = df1.filter(df1['year'] == yearChosen).groupby("month","SENDER_SITE_LOC_ID").agg(sum('ITEMS_TOTAL_AMOUNT'))
dftest.show()


# Transforms to Pandas Dataframe

dfMonth = dftest.toPandas()

i = 0

# Remove the duplicates for sender_id

senderId = pd.unique(dfMonth['SENDER_SITE_LOC_ID'].values)

# A table with all the dates which occur one time

dateByMonth = [t for t in range(1,13)]


# Set up the table length

lenDateByMonth = len(dateByMonth)
lenSenderId = len(senderId)

print(senderId)
print(dateByMonth)


#print(lenDateByYear)
#print(lenSenderId)


# This loop is used to create some rows for sender_id which did not have all the dates
# Example sender_id = 1 month = 1,8 dateByMonth=[1,2,3,..,10,11,12]
# A new row is created to have sender_id = 1 month = 2 and sender_id = 1 month = 3 etc
# This is compulsory for creating visualization

while i < lenSenderId:
    for j in range(lenDateByMonth):
        if i+j < lenSenderId + lenDateByMonth:
            dfBoolean = dfMonth.loc[dfMonth['SENDER_SITE_LOC_ID'].isin([senderId[i]]) & dfMonth['month'].isin([dateByMonth[j]])]
            #print(senderId[i])
            #print(dateByYear[j])
            #print(dftemp)
            if (dfBoolean.empty == True):
                df3 = pd.DataFrame(np.array([[dateByMonth[j],senderId[i]]]), columns=['month','SENDER_SITE_LOC_ID'])
                dfMonth = dfMonth.append(df3, ignore_index=True)
#                #print(dfsum['SENDER_SITE_LOC_ID'][i])
#                #print(dfsum['year'][i])
#                print(tab2[j])
#                print('not ok')
            else :
                print('ok')
                #print(dfsum['SENDER_SITE_LOC_ID'][i])
                #print(dfsum['year'][i])
                #print(tab2[j])


        else:
            if(dfsum['month'][i+j - 1] != dateByMonth[len(dateByMonth)-1]):
                #print('make something')
                df3 = pd.DataFrame(np.array([[dateByMonth[j],senderId[i]]]), columns=['month','SENDER_SITE_LOC_ID'])
                dfMonth = dfMonth.append(df3, ignore_index=True)
    i = i + 1


print(dfMonth)


# Replace the values which are NaN by 0
dfMonth= dfMonth.fillna(0)

#print(dfsum)

# Save to a csv file
dfMonth.to_csv('sumbymonth.csv')

spark.stop()

+-----+------------------+-----------------------+
|month|SENDER_SITE_LOC_ID|sum(ITEMS_TOTAL_AMOUNT)|
+-----+------------------+-----------------------+
|    7|             15801|            12531848256|
|    7|              7597|              524884448|
|    7|              8627|            28521692304|
|    5|             15793|           697887644986|
|    8|             15705|             1059237974|
|    7|             15695|               12979272|
|    7|             15793|            51087133316|
+-----+------------------+-----------------------+

[15801  7597  8627 15793 15705 15695]
[1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 11, 12]
ok
ok
ok
ok
ok
ok
ok
    SENDER_SITE_LOC_ID  month  sum(ITEMS_TOTAL_AMOUNT)
0                15801      7             1.253185e+10
1                 7597      7             5.248844e+08
2                 8627      7             2.852169e+10
3                15793      5             6.978876e+11
4                15705      8             1.059238e+09
5                15695      7             1.297927e+07
6                15793      7             5.108713e+10
7                15801      1                      NaN
8                15801      2                      NaN
9                15801      3                      NaN
10               15801      4                      NaN
11               15801      5                      NaN
12               15801      6                      NaN
13               15801      8                      NaN
14               15801      9                      NaN
15               15801     10                      NaN
16               15801     11                      NaN
17               15801     12                      NaN
18                7597      1                      NaN
19                7597      2                      NaN
20                7597      3                      NaN
21                7597      4                      NaN
22                7597      5                      NaN
23                7597      6                      NaN
24                7597      8                      NaN
25                7597      9                      NaN
26                7597     10                      NaN
27                7597     11                      NaN
28                7597     12                      NaN
29                8627      1                      NaN
..                 ...    ...                      ...
42               15793      3                      NaN
43               15793      4                      NaN
44               15793      6                      NaN
45               15793      8                      NaN
46               15793      9                      NaN
47               15793     10                      NaN
48               15793     11                      NaN
49               15793     12                      NaN
50               15705      1                      NaN
51               15705      2                      NaN
52               15705      3                      NaN
53               15705      4                      NaN
54               15705      5                      NaN
55               15705      6                      NaN
56               15705      7                      NaN
57               15705      9                      NaN
58               15705     10                      NaN
59               15705     11                      NaN
60               15705     12                      NaN
61               15695      1                      NaN
62               15695      2                      NaN
63               15695      3                      NaN
64               15695      4                      NaN
65               15695      5                      NaN
66               15695      6                      NaN
67               15695      8                      NaN
68               15695      9                      NaN
69               15695     10                      NaN
70               15695     11                      NaN
71               15695     12                      NaN

[72 rows x 3 columns]